
<ion-content class="ion-padding">

  <ion-menu contentId="main-content">
    <ion-header>
       <ion-toolbar>   
         <a><img [routerLink]="'/home'"  class="logoimg1"  src="assets/images/FN_logosvg.svg" alt=""></a>
 
       </ion-toolbar>
     </ion-header>
     <ion-content class="ion-padding">
       <ion-list>
         <ion-item [routerLink]="['/energi']">
           <ion-label>Bæredygtig Energi</ion-label>
         </ion-item>
       </ion-list>
       <ion-list>
         <ion-item [routerLink]="['/land']">
           <ion-label>Livet på Land</ion-label>
         </ion-item>
       </ion-list>
       <ion-list>
         <ion-item [routerLink]="['/vand']">
           <ion-label>Rent Vand og Sanitet</ion-label>
         </ion-item>
       </ion-list>
     </ion-content>
   </ion-menu>
   <div class="ion-page" id="main-content">
     <ion-header>
       <ion-toolbar>
         <ion-buttons slot="start">
           <ion-menu-button autoHide="true"></ion-menu-button>
           <a><img [routerLink]="'/home'"  class="logoimg1"  src="assets/images/FN_logosvg.svg" alt=""></a>
         </ion-buttons>
       </ion-toolbar>
     </ion-header>
   
   </div>
   <ion-header id="navbar" class="headersektion">
     <ion-list class="headersek ion-margin-bottom flex flex-row">
       <a><img [routerLink]="'/home'"  class="logoimg cursor-pointer"  src="assets/images/FN_logosvg.svg" alt=""></a>
       <li [routerLink]="['/energi']"class="links hover:underline decoration-yellow-500 cursor-pointer">Bæredygtig Energi</li>
       <li [routerLink]="['/land']" class="links hover:underline decoration-green-500 c">Livet på land</li>
       <li [routerLink]="['/vand']" class="links underline decoration-sky-500 cursor-pointer">Vand og Sanitet</li>
     </ion-list>
 
   </ion-header>


  <ion-card class="container m-auto bg-[url('src/assets/images/vogs-hero.png')] bg-cover bg-center flex justify-center items-center h-screen mt-12" id="herosection-vand">
    <div class="flex flex-col items-center">
    <ion-img style="width:7vh;" class="mb-4" alt="Rent vand og sanitet logo" src="assets/images/vogs-icon.svg" ></ion-img>
    <h1 class="mb-4 text-4xl font-semibold tracking-tight leading-none md:text-5xl lg:text-5xl dark:text-white underline underline-offset-3 decoration-8 decoration-sky-300">Vand og Sanitet</h1>
    </div>
  </ion-card>

  
<section class="container m-auto text-justify my-14 pl-4 pr-4 ">
  <div class="flex flex-col justify-center items-center">
  <h2 class="mb-4 mt-4 text-2xl font-semibold tracking-tight leading-none text-black md:text-3xl lg:text-4xl underline underline-offset-3 decoration-6 decoration-sky-300">Globalt problem</h2>
  </div>
  <p class="mb-3 font-light text-black">(REPLACE) Rent vand og sanitet er et af FN´s 17 verdensmål. 40% af verdens befolkning er påvirket af vandmangel. Manglen på rent vand er et globalt problem, som vedrører samtlige menneske på jorden. Denne mangel på rent vand skyldes en række forskellige ting som klimaforandringer, forurening og overforbrug. </p>
<div class="grid grid-cols-1 md:gap-6 md:grid-cols-2">
    <p class="mb-3 font-light text-black">Manglen på rent vand er problematisk på flere områder, ikke kun fordi de påvirkede områder ikke har noget at drikke, de har heller ikke samme mulighed for at vaske deres hænder og dermed risikerer de at videre bringe sygdomme til sig selv og andre.</p>
    <blockquote class="mb-3 p-2" style="background-color: #26BDE2; border-radius: 10px;">
        <p class="text-xl italic font-semibold text-white p-2">40% af verdens befolkning er påvirket af vandmangel, dermed er det et globalt problem.</p>
    </blockquote>
</div>
<p class="mb-3 font-light text-black">Hvis FN´s verdensmål skal nås, kræver det en indsats for hele verden, både dem som er direkte påvirket og dem der endnu ikke er blevet det.</p>
</section>

<section class="container m-auto my-14 flex flex-col justify-center items-center">
  <h2 class=" self-center mb-4   text-2xl font-semibold tracking-tight leading-none text-black md:text-3xl lg:text-4xl underline underline-offset-3 decoration-6 decoration-sky-300">Problemerne</h2>
  <div class="flex flex-col lg:flex-row">
  <ion-card>
    <img style="height:30% ; width:100%;" alt="Billede af klimaforandringer" src="assets/images/klimaforandringer.jpg" />
    <ion-card-header>
      <ion-card-title class="mb-4 mt-4 text-1xl font-extrabold tracking-tight leading-none text-black md:text-1xl lg:text-1xl underline underline-offset-3 decoration-sky-300">Klimaforandringer</ion-card-title>
    </ion-card-header>
    <ion-card-content class="text-lg mb-3 font-light text-black">
      I takt med at temperaturen stiger verden over, bliver manglen på rent vand et større og større problem, særligt allerede udsatte områder bliver ramt hårdt, manglen på rent vand betyder at personer i udsatte områder ikke har noget at drikke, samt ikke er i stand til at have god hygiejne, hvilket medfører større chance for sygdomme og videre spredelse af sygdomme. 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img style="height:30% ; width:100%;" alt="Billede af skrald i vandet" src="assets/images/forurening.jpg" />
    <ion-card-header>
      <ion-card-title class="mb-4 mt-4 text-1xl font-extrabold tracking-tight leading-none text-black md:text-1xl lg:text-1xl underline underline-offset-3 decoration-sky-300">Forurening</ion-card-title>
    </ion-card-header>
    <ion-card-content class=" text-lg mb-3 font-light text-black">
      Forurening af vandet er et problem, i Danmark er det specielt vores landbrug som er med til at forurene grundvandet, dette sker når landmændene sprøjter deres afgrøder og med tiden løber dette ned i grundvandet og forurener det. I mange andre lande er det et problem med adgang til rent vand, dette betyder at de bliver nødt til at drikke forurenet vand, hvilket giver en række sygdomme som f.eks. diarré.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img style="height:30% ; width:100%;" alt="Billede af vandballoner" src="assets/images/overforbrug.jpg" />
    <ion-card-header>
      <ion-card-title class="mb-4 mt-4 text-1xl font-extrabold tracking-tight leading-none text-black md:text-1xl lg:text-1xl underline underline-offset-3 decoration-sky-300">Overforbrug</ion-card-title>
    </ion-card-header>
    <ion-card-content class="text-lg mb-3 font-light text-black">
      Vi har kun en begrænset mængde vand på jorden, det nuværende forbrug af vand er ikke holdbart i længden. Især landbrugssektoren er en synder på dette område, deres marker og dyr kræver store mængder rent vand. Fortsætter vi på samme måde, vil endnu flere steder opleve vandstress.
    </ion-card-content>
  </ion-card>
</div>
</section>
<div class="footersektion">
  <div class="footerline"></div>
    <p class="footertekst">© 2022 | FN | Alle rettigheder forbeholdes</p>
</div>
</ion-content>
